.container{
width : 980px;
background: url("../images/backgrd.jpg");
}

body{
background: black;
font-family: Open Sans;
font-size: 25px;
}

#questionHolder{
background: yellow;
min-height: 500px;	
text-align: center;
margin:auto;
}

#start{
background: pink;
width: 30%;	
margin-top: 150px;
}

.done{
margin-left: 400px;
width: 10%;
background: pink;
}

ul {
list-style-type: none;
padding: 0;
margin: 0;
}

#score{
font-size: 42px;
}

h1{
font-size: 50px;
color: #0000A0;
z-index: 99; 
margin-top: 50px;   
}